h1 {
  text-align: center;
  text-transform: capitalize;
}

.inside {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
p {
  font-size: 20px;
  text-transform: capitalize;
}
.images {
  margin-left: 45%;
}
input {
  border-radius: 5px;
  height: 15px;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
} /* all browsers except IE6 and lower */

.span-1-of-2 {
  width: 49.2%;
}
.listofdetail {
  list-style: none;
}
/* .form1 {
  border: 1px solid black;
} */

.ipu {
  margin-top: 60px;
}
.hi {
  margin-top: 10px;
}
button {
  font-size: 18px;
  padding: 2px;
  background-color: #fff;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 25px;
  width: 20%;
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 20px;
}
button:hover {
  background-color: rgb(73, 0, 73);
  color: #fff;
}
.bord {
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  padding-inline-end: 30px;
}
